/* rgb(237 222 227 ) */

* {
    margin: 0%;
}

.logoTitulo {
    margin: 0;
    display: block;
    width: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    padding: 20px;
}

#titulo {
    padding: 50px;
    font-size: 30px;
}
.menuDeOpciones {
    background-color:rgb(255, 102, 140);
    display: block;
    height: 50px;
    text-align:left;
    justify-content: left;
}

.menuDeOpciones li {
    list-style-type: none;
    display: inline-flex;
    margin: 10px 20px 10px 20px;
    width: 10%;
    border-right: 1px solid white; 
}

#subtitulos {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    color: rgb(255, 102, 140)
}

.carreteIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carreteIndex img {
    justify-content: space-between;
    margin: 15px;
    width: 250px;
    padding: 10px;
    border: solid white 5px;
}

.boxListas {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}

footer {
    margin-top: 100px;
    background-color: rgb(255, 102, 140);
    display: block;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: purple;
}

a:visited {
    color: white;
}

a:focus,
a:hover {
    border-bottom: 2px solid;
    color: red;
}

a:active {
    color: white;
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
    .menuDeOpciones li {
        background-color: crimson;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
}